:root {
    --color-box: #101204;
    --color-border: #ccc;
    --color-border-focus: #2b2c2f;
    --color-text: #96999e;
    --color-text2: #babbbd;
    --color-background: #131314;
    --color-checked-background: #273d29;
    --color-background_create_btn: #8fb8f6;
    --color-mix90: #343538;
    --color-mix40: #1C1D1A;
    --color-mix50: #AEC2E1;
}

body {
    background-color: grey;
    padding-top: 50px;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 75px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color-background);
    border: 2px solid black;
    font-weight: bold;
    box-sizing: border-box;
    color: var(--color-text2);
}

.sideMenu {
    margin: 0;
    position: fixed;
    border: 2px solid black;
    border-top: none;
    top: 75px;
    left: 0;
    height: calc(100% - 75px);
    width: 250px;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text2);
    padding: 10px 0 0 30px;
}

.folderTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    gap: 10px;
    padding: 0;
}
.folderTitle input , .listName input{
    flex:1;
    min-width: 0;
    padding: 10px;
    background-color: var(--color-background);
    border: none;
    color: var(--color-text2);
    font-size: 1.2rem;
    font-weight: bold;
}

.listName input{
    font-size: 1rem;
    font-weight: normal;
}
.listName{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.folderTitle .dropdown {
    flex-shrink: 0;
    order: -1;  
}
.sideMenu li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.dropDownMenu {
    flex: 1;
    text-align: left;
}

.app_name {
    flex: 1;
    text-align: center;
}

.connection {
    flex: 1;
    text-align: right;
    margin-left: auto;
}

.list_box {
    background-color: var(--color-background);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#List_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    margin-left: 230px;

}

.list {
    background-color: var(--color-background);
    color: var(--color-text);
    width: 250px;
    height: fit-content;
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--color-text);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.input,
#add_list {
    background-color: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 3px;
    outline: none;
    padding: 10px;
    margin: 10px;
}

#add_list {
    border-radius: 7px;
    transition: background 0.3s;
    width: fit-content;
    height: fit-content;
}

input:focus {
    border-color: var(--color-border-focus);
}


.creation {
    margin-top: 10px;
}

#create_list,
#cancel_list {
    color: var(--color-text);
    border: 1px solid var(--color-text);
    border-radius: 3px;
    outline: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 10px 10px;
}

#create_list {
    background-color: var(--color-background_create_btn);
    color: var(--color-box)
}

#cancel_list {
    border: none;
    background-color: var(--color-background);
    transition: background 0.3s;
}

#cancel_list:hover {
    background-color: var(--color-mix40);
}

#add_list:hover {
    background-color: var(--color-mix90);
}

#create_list:hover {
    background-color: var(--color-mix50);
}

.new_title {
    background-color: var(--color-background);
    border: none;
    border-radius: 5px;
    color: var(--color-text);
    font-size: 1.5rem;
    width: 200px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.new_title:focus {
    background-color: var(--color-border-focus);
}

.checkBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5px 0 5px 0;
    padding: 0 5px;
}

.todo-text {
    background-color: var(--color-border-focus);
    color: var(--color-text);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin: 0 0 0 5px;
    resize: none;
    height: 20px;
    max-width: 180px;
}

.todo_line_wrapper {
    display: flex;
    align-items: flex-start;
    margin: 0 0 2px -15px;
}

.todo_line_wrapper.dragging {
    opacity: 0.5;
}

.addCheckLine {
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--color-text);
    background-color: #8fb8f6;
    margin: 10px 0 10px 5px;
}

.delete_line_btn,
.move_line_btn,
.option_btn {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    font-size: 15px;
    background-color: var(--color-border-focus);
    border: none;
    border-radius: 3px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.move_line_btn {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
    cursor: grab;
}

.move_line_btn:active {
    cursor: grabbing;
}

.todo-text.completed,
.delete_line_btn.completed {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: black;
    background-color: var(--color-mix90);
}

.todo-text.not-completed,
.delete_line_btn.not-completed {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-border-focus);
}

.todo-label {
    flex: 1;
    display: flex;
}

.percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.title_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option_btn {
    height: 25px;
    width: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content , .dropdownFoldersNames{
    display: none;
    position: absolute;
    background-color: var(--color-border-focus);
    border-radius: 10px;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.dropdown_content a,.dropdownFoldersNames a {
    color: var(--color-text2);
    padding: 7px;
    text-decoration: none;
    display: block;
    padding-left: 15px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Mobile devices (phones) */
@media (max-width: 768px) {
    #List_container {
        flex-direction: column;
        /* Stack lists vertically */
    }

    body {
        background-color: black;
    }

    .list {
        width: 90%;
        /* Make lists wider on mobile */
        margin: 10px auto;
    }

    .new_title {
        width: 100%;
        font-size: 1.2rem;
    }

    .todo_line_wrapper {
        width: 100%;
    }

    .todo-text {
        height: 20px;
        width: 100%;
        font-size: 14px;
    }
}